<h1>Add Recipe Route</h1>
<div>
  <h3>Required Fields</h3>
  <input type="text" ng-model="add.newRecipe.name" placeholder="Name"/>
  <textarea rows="10" cols="50" ng-model="add.newRecipe.directions" placeholder="Directions"></textarea>
</div>
<div>
  <div ng-repeat="ingredient in add.ingredientsList">
    <h4 ng-hide="ingredient.editing">{{ingredient.food_name}} <span ng-show="ingredient.food_amount">- </span>{{ingredient.food_amount}}</h4>
    <button ng-click="add.beginIngredientEdit(ingredient)">Edit</button>
    <div ng-show="ingredient.editing">
      <input type="text" ng-model="add.updatedIngredient.name" placeholder="Ingredient Name"/>
      <input type="text" ng-model="add.updatedIngredient.amount" placeholder="Quantity (optional)" />
      <button ng-show="add.canCreate" ng-click="add.updateNewIngredient(ingredient)">Save</button>
      <button ng-show="add.canUpdate" ng-click="add.updateExistingIngredient(ingredient)">Save</button>
      <button ng-click="add.cancelIngredientChange()">Cancel</button>
    </div>
    <button ng-show="add.canCreate" ng-click="add.deleteNewIngredient($index)">Delete</button>
    <button ng-show="add.canUpdate" ng-click="add.deleteExistingIngredient(ingredient)">Delete</button>
  </div>
  <button ng-hide="add.showForm" ng-click="add.showForm = true">Add Ingredient</button>
  <input ng-show="add.showForm" type="text" ng-model="add.newIngredient.name" placeholder="Name" />
  <input ng-show="add.showForm" type="text" ng-model="add.newIngredient.amount" placeholder="Amount (optional)" />
  <button ng-show="add.showForm" ng-click="add.saveIngredient()">Save</button>
  <button ng-show="add.showForm" ng-click="add.cancel()">Cancel</button>
</div>
<div>
  <h3>Optional Fields</h3>
  <input type="text" ng-model="add.newRecipe.serving" placeholder="Serving"/>
  <input type="number" ng-model="add.newRecipe.calories" placeholder="Calories"/>
  <input type="number" ng-model="add.newRecipe.carbs" placeholder="Total Carbs (g)"/>
  <input type="number" ng-model="add.newRecipe.fiber" placeholder="Fiber and Sugar Alcohols (g)"/>
  <input type="number" ng-model="add.newRecipe.protein" placeholder="Total Protein (g)"/>
  <input type="number" ng-model="add.newRecipe.fat" placeholder="Total Fat (g)"/>
  <h5>Not your recipe?  Give credit where credit is due!</h5>
  <input type="text" ng-model="add.newRecipe.source" placeholder="Source or creator name"/>
  <input type="text" ng-model="add.newRecipe.source_url" placeholder="Link to website" />

</div>
<div>
  <button ng-show="add.canCreate" ng-click="add.submitNewRecipe()">Submit Recipe</button>
  <button ng-show="add.canUpdate" ng-click="add.updateRecipe()">Update Recipe</button>
</div>
