<div>
  <h2>Register</h2>
  <h3>Enter a Username:</h3>
  <input type="text" placeholder="Username" ng-model="register.username" />
  <!-- Fail Message (register.restrictions.existingUsername) -->
  <h3>Enter Your Email Address</h3>
  <input type="text" placeholder="example@abc.com" ng-model="register.email" />
  <!-- Fail Message (register.restrictions.validEmail) -->
  <h3>Enter a Password:</h3>
  <input type="password" placeholder="Password" ng-model="register.password" />
  <input type="password" placeholder="Confirm Password" ng-model="register.confirm"/>
  <!-- Fail Message (register.failure) -->
  <!-- Profile publicly visible?  Default false (register.user.shared) -->
  <!-- Set macro and calorie goals -->
  <!-- Button (register.checkRequirements) -->
</div>
