<h1>Register Route</h1>
<div id="passport-test">
  <h3>THIS IS ONLY FOR TESTING REGISTRATION/LOGIN/LOGOUT</h3>

  <div id="user-registration">
    <h5>Registration</h5>
    <h6>Create a Username</h6>
    <input ng-model="register.newUser.username" placeholder="Username" />
    <input ng-model="register.newUser.password" placeholder="Password" />
    <input ng-model="register.newUser.email" placeholder="Email" />
    <h6>Shared set to "false" by default</h6>
    <button ng-click="register.submitUser()">Register</button>
  </div>

  <div id="user-login">
    <h5>Login</h5>
    <input ng-model="register.loginData.username" placeholder="Username" />
    <input ng-model="register.loginData.password" placeholder="Password" />
    <button ng-click="register.loginUser()">Login</button>
  </div>

  <div id="user-logout">
    <h5>Logout</h5>
    <button ng-click="register.logoutUser()">Logout</button>
  </div>

</div>
