<h1>Track Route</h1>
<div>
  <h3>Select a date to track</h3>
  <input type="date" ng-model="track.selectedDate" />
  <button ng-click="track.updateLogDate()">Select</button>
</div>

<div ng-hide="track.editAll">
  <h3>Log for {{track.dayStats.log_date}}</h3>
  <p ng-show="track.showWeight">Current Weight: {{track.dayStats.weight}}</p>
  <button ng-show="track.showWeight" ng-click="track.showWeight = false">Edit Weight</button>
  <input ng-hide="track.showWeight" type="text" ng-model="track.dayStats.weight" placeholder="Current Weight" />
  <button ng-hide="track.showWeight" ng-click="track.updateWeight()">Update</button>
  <p>Today's Calories: {{track.dayStats.calories}}</p>
  <p>Today's Net Carbs: {{track.dayStats.carbs}} g</p>
  <p>Today's Protein: {{track.dayStats.protein}} g</p>
  <p>Today's Fat: {{track.dayStats.fat}} g</p>
  <button ng-click="track.editAll = true">Edit Directly</button>
</div>
<div ng-show="track.editAll">
  <h3>Edit information directly | {{track.dayStats.log_date}}</h3>
  <input type="text" ng-model="track.dayStats.weight" placeholder="Weight" />
  <input type="number" ng-model="track.dayStats.calories" placeholder="Calories" />
  <input type="number" ng-model="track.dayStats.carbs" placeholder="Net Carbs (g)" />
  <input type="number" ng-model="track.dayStats.protein" placeholder="Protein (g)" />
  <input type="number" ng-model="track.dayStats.fat" placeholder="Fat (g)" />
  <button ng-click="track.updateAll()">Update</button>
  <button ng-click="track.editAll = false">Cancel</button>
</div>
<div>
  <h3>Today's Logged items</h3>
  <!-- NG-repeat of track.loggedItems -->
  <div ng-repeat="item in track.loggedItems">
    
  </div>
</div>
<div ng-show="track.pendingData.shown">
  <h4>Pending Data</h4>
    <!-- Only show if user logging an existing item. -->
    <div ng-show="track.receivedInformation.type == 'food'">
      <h5>{{track.receivedInformation.name}}</h5>
      <h6>
        <span ng-show="track.receivedInformation.variety">Variety: {{track.receivedInformation.variety}}</span>
        <span ng-show="track.receivedInformation.serving">Serving: {{track.receivedInformation.serving}}</span>
        <span ng-show="track.receivedInformation.brand">Brand: {{track.receivedInformation.brand}}</span>
        <span ng-show="track.receivedInformation.user_id">Author(id): {{track.receivedInformation.user_id}}</span>
      </h6>
    </div>
    <div ng-show="track.receivedInformation.type == 'recipe'">
      <h5>{{track.receivedInformation.name}}</h5>
      <h6>
        <span ng-show="track.receivedInformation.serving">Serving: {{track.receivedInformation.serving}}</span>
        <span ng-show="track.receivedInformation.user_id">Author(id): {{track.receivedInformation.user_id}}</span>
      </h6>
    </div>
  <label>Calories (g)</label><input type="number" ng-model="track.pendingData.calories"/>
  <label>Net Carbs (g)</label><input type="number" ng-model="track.pendingData.carbs"/>
  <label>Protein (g)</label><input type="number" ng-model="track.pendingData.protein"/>
  <label>Fat (g)</label><input type="number" ng-model="track.pendingData.fat"/>
  <!-- Amount -->
  <button ng-click="track.submitRecord()">Submit</button>
</div>
<div>
  <h5>Preview Day's Stats</h5>
  <p>Calories: {{(track.dayStats.calories || 0) + (track.pendingData.calories || 0)}}</p>
  <p>Carbs: {{(track.dayStats.carbs || 0) + (track.pendingData.carbs || 0)}}</p>
  <p>Protein: {{(track.dayStats.protein || 0) + (track.pendingData.protein || 0)}}</p>
  <p>Fat: {{(track.dayStats.fat || 0) + (track.pendingData.fat || 0)}}</p>
</div>
<div>
  <h3>Sidebar Content (Later)</h3>
  <!-- Browse/search/favorite foods -->
  <!-- Browse/search/favorite recipes -->
</div>
