<div>
  <h2>Add a Food</h2>
  <input type="text" placeholder="Name" ng-model="add.food.name" />
  <input type="text" placeholder="Variety (Optional)" ng-model="add.food.variety" />
  <input type="text" placeholder="Brand (Optional)" ng-model="add.food.brand" />
  <input type="text" placeholder="Serving" ng-model="add.food.serving" />
  <input type="number" placeholder="Calories per serving" ng-model="add.food.calories" />
  <input type="number" placeholder="Total Carbs (g)" ng-model="add.food.carbs" />
  <input type="number" placeholder="Fiber or Sugar Alcohols (g)" ng-model="add.food.fiber" />
  <input type="number" placeholder="Protein (g)" ng-model="add.food.protein" />
  <input type="text" placeholder="Fat (g)" ng-model="add.food.fat" />
  <button ng-click="add.submitFood()">Submit Food</button>
</div>
